<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
  </head>

  <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  /> -->
  <link rel="stylesheet" href="../static/css/payment.css" />

  <h1>Pet Insurance Form</h1>
  <label for="petName">Pet Name:</label>
  <input type="text" id="petName" name="petName" required />
  <br /><br />

  <label for="ownerName">Owner Name:</label>
  <input type="text" id="ownerName" name="ownerName" required />
  <br /><br />

  <label for="insuranceName">Insurance Name:</label>
  <input type="text" id="insuranceName" name="insuranceName" required />
  <br /><br />

  <label for="startDate">Start Date:</label>
  <input type="Date" id="startDate" name="startDate" required />
  <br /><br />
  <button id="payment-button" type="submit">Submit and Pay with Khalti</button>

  <!-- script code for khalti payment -->
  <script>
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
      var petName = document.getElementById("petName").value;
      var ownerName = document.getElementById("ownerName").value;
      var insuranceName = document.getElementById("insuranceName").value;
      var startDate = document.getElementById("startDate").value;
      var amount = 200;

      if (
        petName == "" ||
        ownerName == "" ||
        insuranceName == "" ||
        startDate == ""
      ) {
        alert("Please fill all the fields");
        return;
      }

      var config = {
        // replace the publicKey with yours

        publicKey: "test_public_key_67696601b50a424da1a9f9dc0a45a568",
        productIdentity: insuranceName,
        productName: insuranceName,
        productUrl: "http://gameofthrones.wikia.com/wiki/Dragons",
        paymentPreference: ["KHALTI"],
        eventHandler: {
          onSuccess(payload) {
            // hit merchant api for initiating verfication
            console.log(payload);
          },
          onError(error) {
            console.log(error);
          },
          onClose() {
            console.log("widget is closing");
          },
        },
      };

      var checkout = new KhaltiCheckout(config);

      // minimum transaction amount must be 10, i.e 1000 in paisa.
      checkout.show({ amount: amount * 100 });
    };
  </script>
</html>